button.close-button {
	margin-bottom: 1.5rem;
}

a.wp-block-button__link,
button, 
a.button,
.gform_button {
	&:not([role="tab"]):not(.close-button):not(.enlarge-btn) {
		line-height: 1;
		padding: 1em 2.7223em;
		border-radius: 0;
		letter-spacing: .05px;
		text-transform: uppercase;
		font-weight: bold;
		border: 2px solid $brand-navy;
		transition: all .25s ease;
		
		&:hover {
			color: $brand-royal;
			border-color: $brand-royal;
		}
		
		&.post-btn,
		&[type="submit"] {
			width: 100%;
			font-size: rem-calc(24);
			line-height: 1;
			color: $brand-navy;
			background-color: $brand-mint;
			border-color: $brand-mint;
			&:hover {
				background-color: #00E37B;
			}
		}
	
		&.mint-bg {
			border-color: $brand-mint;
			background-color: $brand-mint;
			color: $brand-navy;
				
			&:hover {
				border-color: $brand-mint-hover;
				background-color: $brand-mint-hover;
			}
		
		}

		&.royal-bg {
			border-color: $brand-royal;
			background-color: $brand-royal;
			color: $white;
			
			&:hover {
				border-color: #051498;
				background-color: #051498;
			}
		
		}
		
		&.violet-bg {
			border-color: $brand-violet;
			background-color: $brand-violet;
			color: $brand-navy;
			
			&:hover {
				border-color: $brand-royal;
				background-color: $brand-royal;
				color: $white;
			}
		
		}
		
		&.large {
			display: inline-flex;
			padding: 0;
			overflow: hidden;
			font-weight: 600;
			color: $white;
			text-transform: none;
			border: 0;
			position: relative;
		
			span {
				position: relative;		
				&.gradient {
					display: block;
					padding: 1.375rem 4.05rem 1.375rem 1.8312rem;
					background-image: linear-gradient(-90deg, rgba(27,17,149,1) 0%, rgba(48,36,221,1) 100%);
					
					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						opacity: 1;
						background-image: linear-gradient(90deg, rgba(27,17,149,1) 0%, rgba(48,36,221,1) 100%);
						transition: all 1s ease;
					}			
				}
				
				&.arrow {
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					right: 0;
					top: 0;
					bottom: 0;
					padding: .594rem;
					transition: background-color .3s ease;
				}
				
				&.text {
					position: relative;
					z-index: 1;
				}
				
			}
			
			&:hover {
				span.gradient:before {
					opacity: 0;
				}
				.arrow {
					background-color: $brand-mint-hover;
				}
			}
	
		}
	}
}

.wp-block-button {
	width: 100%;
}

a.wp-block-button__link:not([role=tab]):not(.close-button):not(.enlarge-btn) {
	background-color: $brand-mint;
	color: $brand-navy;
	width: 100%;
	font-size: rem-calc(24);
	line-height: 1;
	color: $brand-navy;
	border-color: $brand-mint;
	
&:hover {
	border-color: $brand-mint-hover;
	background-color: $brand-mint-hover;
	color: $brand-navy;
}

}

button.large,
a.button.large {
	
}
