h1,
.h1 {
	line-height: .942;
}

h2,
.h2 {
	line-height: 1.19;
	margin-bottom: 0.85rem;
}

h3,
.h3 {
	line-height: 1.2857;
	
&.big-h3 {
	font-size: rem-calc(44);
	line-height: 1.111;
	font-weight: bold;
	color: $brand-violet;
	@include breakpoint(medium) {
		font-size: rem-calc(63);
	}		
}
}

.jumbo {
	font-size: rem-calc(130);
	line-height: 1.107;
}

p,
.p,
a {
	font-size: rem-calc(14);	
}

.small-copy,
.small-copy p,
.small-copy a {
	font-size: rem-calc(14);
	line-height: 1.7142;	
}

.medium-copy,
.medium-copy p,
.medium-copy a,
.entry-content ul li {
	font-size: rem-calc(16);
	line-height: 1.5;
	@include breakpoint(tablet) {
		font-size: rem-calc(20);
	}
}

.large-copy,
.large-copy p,
.large-copy a,
.large-copy li {
	font-size: rem-calc(21);
	line-height: 1.3333;
	@include breakpoint(medium) {
		font-size: rem-calc(24);
	}
	@include breakpoint(tablet) {
		font-size: rem-calc(30);
	}
}