@charset "UTF-8";
@import "variables";

/*--------------------------------------------------------------
# Foundation
--------------------------------------------------------------*/

@import "foundation-settings";

// Spacing Variables
$smallGutter: map-get($grid-margin-gutters, "small");
$mediumGutter: map-get($grid-margin-gutters, "medium");

@import "mixins";
@import "vendor/foundation/vendor/normalize";
@import "vendor/foundation/foundation";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
//@include foundation-button-group;
//@include foundation-close-button;
//@include foundation-label;
//@include foundation-progress-bar;
//@include foundation-slider;
//@include foundation-switch;
@include foundation-table;
// Basic components
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-callout;
//@include foundation-card;
// @include foundation-dropdown;
//@include foundation-pagination;
//@include foundation-tooltip;

// Containers
@include foundation-accordion;
//@include foundation-media-object;
//@include foundation-orbit;
@include foundation-responsive-embed;
//@include foundation-tabs;
//@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
//@include foundation-menu-icon;
@include foundation-accordion-menu;
// @include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
//@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Import Motion-UI from vendor files
@import "vendor/motion-ui";

// Import Swiper
@import "./css/vendor/swiper-bundle.min.css";

/*--------------------------------------------------------------
# Custom Styles
--------------------------------------------------------------*/
@import "global";
@import "helpers";
@import "buttons";
@import "color-themes";
@import "typography";
@import "forms";
@import "header";
@import "footer";


// Modules
@import "_modules/banners";
@import "_modules/home-banner";
@import "_modules/post-archive-card";
@import "_modules/team-preview";
@import "_modules/copy-and-arrow-checklist";
@import "_modules/graphic-and-stats";
@import "_modules/image-copy-button-cards";
@import "_modules/pq-slider";
@import "_modules/webinar-slider";
@import "_modules/experts";
@import "_modules/copy-image";
@import "_modules/book-demo";
@import "_modules/two-news-posts";
@import "_modules/appeal-letter-template";
@import "_modules/trusted-partners";
@import "_modules/blue-background-cta";
@import "_modules/webinar-cta";
@import "_modules/blue-bg-image-copy-button-cards";
@import "_modules/posts";
@import "_modules/archives";
@import "_modules/events";
@import "_modules/contact";
@import "_modules/sticky-heading-nav-paragraphs";
@import "_modules/color-themes";
@import "_modules/dual-wysiwyg";
@import "_modules/icons-labels";