footer.footer {
	padding-top: 4.5rem;
	
	a {
		color: $white;
		transition: color .25s ease;
		
	&:hover {
		color: $brand-mint;
	}
		
	}
	.logo-wrap {
		margin-bottom: 2rem;
	}
	h3 {
		font-size: rem-calc(14);
		line-height: 1.7142;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 0.4rem;
	}
	.location,
	.hours,
	.in-touch {
		line-height: 1.75;
	}
	
	.item {
		padding-bottom: 2.1rem;
	}
	
	ul.menu:not(#social-links):not(.logo-menu) {
		li {
			line-height: 1;
			margin-left: -2px;
			margin-right: -2px;
			
		&:not(:last-child) {
			padding-bottom: 0.25rem;
		}
			
			a {
				padding: .2rem;
				display: inline-flex;
				align-items: center;
				
			&:after {
				content: '';
				display: block;
				width: 5px;
				height: 8px;
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4.395' height='7.438' viewBox='0 0 4.395 7.438'%3E%3Cpath id='Path_9861' data-name='Path 9861' d='M4.753,0,4.077.676l2.56,2.56.462.483h0L6.636,4.2l-2.56,2.56.676.676L8.472,3.719Z' transform='translate(-4.077)' fill='%23fff'/%3E%3C/svg%3E");
				background-repeat: no-repeat;
				background-size: contain;
				margin-left: 0.4rem;
			}
				
			}
		}

	&#footer-links1 {
		li {
			padding-left: 0.45rem;
		&.menu-item-has-children {
			line-height: 1.2;
			
			>a {
				&:after {
					display: none;
				}
			}
			
			ul {
				position: relative;
				list-style: none;
				margin: 1.05rem 0 0 .35rem;
			
			&:before {
				content: '';
				position: absolute;
				left: -0.1rem;
				top: 2px;
				bottom: 2px;
				width: 1px;
				background-color: $brand-mint;
			}
				
			}
			
		}

			
		}	
	}		
		
	}
	
	ul#social-links {
		margin: .5rem -.5rem;
		li {
			padding: 0 .5rem;
			a {
				padding: 2px;
				svg path {
					transition: fill .3s ease;
				}
				
			&:hover {
				svg path {
					fill: $brand-mint-hover;
				}
			}
				
			}
		}
	}
	
	.source-org {
		font-size: rem-calc(14);
		line-height: 1.7142;
		opacity: .52;	
		margin-bottom: 1.8rem;	
	}
	
}

