.banner.home-banner {
	padding-top: 6.3rem;
	padding-bottom: 7.625rem;
	
	.left,
	.right {
		padding-top: 3.25rem;
	}
	
	.left {
		padding-bottom: 3rem;
	}
	
	.right {
		.img-wrap {
			position: relative;
			max-width: 503px;
			span {
				display: block;
				border: 1px solid $brand-mint;
				border-radius: 9px;
			}
		}
		img {
			position: relative;
		}
	}
	
}

.color-theme-violet {
	.banner.home-banner .right .img-wrap span {
		border-color: $brand-violet;
	}
}

.banner-cta {
	margin-top: -61px;
	overflow: hidden;
	padding-bottom: 23px;
	@include breakpoint(small down) {
		.cta-left {
			margin-bottom: 1.5rem;
		}
	}
	.inner {
		padding: 1.55rem 1rem 1.5rem 1.95rem;
		overflow: visible;
		.bg {
			width: 150%;
			transform: skew(30deg) translate(-30px);
			
		}
		.button {
			padding: 0.625rem 0.9165rem;
		}
	}
	p {
		margin: 0;
		font-size: rem-calc(24);
		line-height: 1.666;
		strong  {
			color: $brand-mint;
		}
	}
}