.icons-labels {
	padding-top: 5rem;
	padding-bottom: 3rem;
	
	h2 {
		margin-bottom: 2.5rem;
	}
	
	.cell {
		padding-bottom: 3rem;
	}
	
	.icon-wrap {
		padding-bottom: 1rem;
	}
	
	i {
		font-size: 4rem;
		color: $brand-mint;
	}
	
}