.image-copy-button-cards {
	@include breakpoint(small down) {
		.left {
			margin-bottom: 4rem;
		}
	}
	.img-wrap {
	    padding-bottom: 2.6rem;
	}
	
	h3 {
		margin-bottom: 1.5rem;
	}
	
	.link-wrap {
    	padding-top: 2rem;
	}
		
}