article.post-archive-card {
	margin-bottom: .75rem;
	height: auto;
	@include breakpoint(medium) {
		margin-bottom: 1.75rem;
	}
	.inner {
		height: 100%;
		padding: 2.4rem 1.5rem 1.15rem;
		transition: background-color .3s ease;
		
		@include breakpoint(medium) {
			padding: 3.4rem 2.5rem 2rem;
		}
		
		svg {
			g,
			path {
				transition: all .3s ease;
			}
			
			&:hover {
				g#Ellipse_77 {
					stroke: $brand-mint;
				}
				path {
					fill: $brand-mint;
				}			
			}
			
		}
		
		a {
			width: 100%;
			height: 100%;
			justify-content: space-between;
		}
		
		footer.article-footer {
			padding-top: 2rem;
			@include breakpoint(medium) {
				padding-top: 2.5rem;
			}
		}
		
		.archive-tag {
		    padding-bottom: 1rem;
		}
		
		.entry-content {
		    padding-bottom: 1.1rem;
		    @include breakpoint(medium) {
			    padding-bottom: 2.1rem;
		    }
		}
		
		&.navy-bg:hover {
			background-color: #12058f;
		}
			
		&.violet-bg:hover {
			background-color: #9123F0;
		}
		
	}
	
}

.brand-ahdam {
	article.post-archive-card .inner .archive-tag.mint {
		text-transform: uppercase;
		font-size: rem-calc(15);
		color: $brand-violet !important;
		font-family: $header-font-family;
	}
}